/* Imported Custom Font */
/* Satoshi Regular */
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff'),
         url('../fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

/* Satoshi Medium */
@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
         url('../fonts/Satoshi-Medium.woff') format('woff'),
         url('../fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

/* Satoshi Italic */
@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff2') format('woff2'),
         url('../fonts/Satoshi-Italic.woff') format('woff'),
         url('../fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
}

/* Satoshi Bold */
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

/* GLOBAL STYLES */

.all-caps {
    text-transform: uppercase;
}

.text-decor-none { 
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    font-size: 16px;
    background-color: #FFFDFA;
    color: #292828;
}

button a, ul a {
    text-decoration: none;
    color: inherit;
}

ul, p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

button.btn-filled {
    width: 224px;
    height: 48px;
    padding: 16px 20px;
    margin-top: 44px;
    border-style: none;
    border-radius: 16px;
    color: #FFFDFA;
    background-color: #FF6700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Color Palette */
.color-text-primary { color: #03387C; }
.color-text-primary-alt { color: #02214A; }
.color-text-secondary { color: #FF6700; }
.color-text-secondary-light { color: #FF8533; }
.color-text-secondary-accent { color: #8F5833; }
.color-text-accent-01 { color: #FFFDFA; }
.color-text-accent-02 { color: #292828; }

.color-bg-primary { background-color: #03387C; }
.color-bg-primary-alt { background-color: #02214A; }
.color-bg-secondary { background-color: #FF6700; }
.color-bg-secondary-light { background-color: #FF8533; }
.color-bg-secondary-accent { background-color: #8F5833; }
.color-bg-accent-01 { background-color: #FFFDFA; }
.color-bg-accent-02 { background-color: #292828; }

/* Layout*/

.margin-zero { margin: 0; }

.padding-zero { padding: 0; }
.padding-80 { padding: 80px 0; }
.padding-80-all { padding: 80px; }
.padding-40 { padding: 40px 0; }
.padding-24 { padding: 24px 0px; }
.padding-24-all { padding: 24px; }
.padding-8 { padding: 8px 0; }
.padding-16 { padding: 16px 0; }
.padding-48-24 { padding: 48px 24px; }
.padding-48-all { padding: 48px; }
.padding-bottom { padding-bottom: 144px; }

.sect-dark { background-color: #242424; }
.background-white { background-color: white; }

/* Flexbox */

.flex-row {
    display: flex;
    flex-direction: row; /* default value already */
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space-between-row {
    display: flex;
    justify-content: space-between;
}

.space-between-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.justify-content-right { justify-content: right; }
.justify-content-center { justify-content: center; }

.align-center {
    display: flex;
    align-items: center;
}

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }

.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.gap-40 { gap: 40px; }
.gap-44 { gap: 44px; }
.gap-48 { gap: 48px; }
.gap-56 { gap: 56px; }
.gap-64 { gap: 64px; }
.gap-104 { gap: 104px; }

/* Smartphone */
@media screen and (max-width: 480px) {
    html { width: 393px; }
    
    /* Font Size */
    h1 { font: 40px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    h2 { font: 28px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    h2.h2alt, h2#h2alt { font: 24px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    body, b, p, ul, li { font: 16px/normal "Satoshi-Medium", "Open Sans", Helvetica, sans-serif; }
    li.nav-item { font-size: 16px; line-height: normal; }
    .body-lg { font: 24px/normal "Satoshi-Medium", "Open Sans", Helvetica, sans-serif; }
    .body-lg-bold { font: 24px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    /* button { font-size: 20px; line-height: normal; } */
    /* button a b { font-size: 20px; line-height: normal; } */
    /* em { font: 32px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; } */
    /* .img-cap { font: 24px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; } */
    /* b { font: 18px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; } */

    /* hides content on mobile verison */
    .hidden-on-mobile { display: none; }

    /* Layout*/

    .margin-default { margin: 0 24px; }
    .padding-default { padding: 0 24px; }

    /* Grid */
    
    #top-nav {
        height: 98px;
    }

    #bike-edmonton-logo img {
        width: 57px;
    }
    
    /* Page Navigation */

    #page-nav {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    /* Footer */

    #footer {
        background-color: #02214A;
        padding-top: 80px;
        padding-bottom: 120px;
    }

    #footer-col1, #footer-row ul { width: 302px; }

    #footer-row ul {
        /* display: inline; */
        list-style-type: none;
        color: #FFFDFA;
        font: 16px "Satoshi-Regular", "Open Sans", Helvetica, sans-serif;
    }

    .footer-list-header, .footer-list-header-col1 {
        color: #FF8533;
    }

    .footer-list-header {
        margin-bottom: 2px;
    }

    .footer-list-header-col1 {
        margin-bottom: 18px;
    }

    #btn-alt {
        display: flex;
        width: 345px;
        height: 44px;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FF6700;
        background-color: #FFFDFA;
        border-radius: 16px;
        border-style: none;
        font: 12px "Satoshi-Bold", "Open Sans", Helvetica, sans-serif;
    }
}

/* Laptop & Desktop */
@media screen and (min-width: 769px) {
    /* Font Size */
    h1 { font-size: 88px; line-height: normal; }
    h2 { font-size: 64px; line-height: normal; }
    h2.h2alt, h2#h2alt { font: 44px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    h3 { font-size: 32px; line-height: normal; }
    body, b, p, ul, li { font-size: 18px; line-height: normal; }
    li.nav-item { font-size: 16px; line-height: normal; }
    .body-lg { font: 24px/normal "Satoshi-Medium", "Open Sans", Helvetica, sans-serif; }
    .body-lg-bold { font: 24px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    button { font-size: 20px; line-height: normal; }
    button a b { font-size: 20px; line-height: normal; }
    em { font: 32px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    .img-cap { font: 24px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }
    b { font: 18px/normal "Satoshi-Bold", "Open Sans", Helvetica, sans-serif; }

    /* hides content on desktop verison */
    .hidden-on-desktop { display: none; }

    /* Layout */

    .margin-default { margin: 0 80px; }
    .padding-default { padding: 0 80px; }

    /* Grid */

    #top-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        white-space: nowrap;
    }

    /* Header */

    header {
        background-color: #03387C;
        height: 140px;
    }

    #top-nav li {
        display: inline;
        list-style-type: none;
        font: 16px "Satoshi-Bold", "Open Sans", Helvetica, sans-serif;
    }
    
    nav, #top-left-nav, #top-right-nav {
        height: 140px;
    }

    #bike-edmonton-logo {
        position: relative;
        z-index: 2;
        margin: auto;
    }

    #bike-edmonton-logo img {
        width: 80px;
    }

    /* Page Navigation */

    #page-nav {
        padding: 20px 0;
    }
    
    #page-nav li {
        display: inline;
        list-style-type: none;
        font: 16px "Satoshi-Bold", "Open Sans", Helvetica, sans-serif;
    }

    /* Page Breadcrumbs */

    #page-breadcrumbs {
        padding-top: 96px;
        padding-bottom: 60px;
        font: 24px "Satoshi-Bold", "Open Sans", Helvetica, sans-serif;
    }

    #page-breadcrumbs a {
        color: inherit;
        text-decoration: none;
    }

    /* Page Title & Subtitle */

    #page-title-subtitle {
        margin-bottom: 152px;
    }

    #page-subtitle {
        display: inline-block;
        width: 828px;
        padding-top: 36px;
    }

    /* Service Options */

    .blur-filter {
        background-color: rgba(0, 0, 0, 0.64);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
    }
    
    #service-opts-row1, #service-opts-row2 {
        height: 839px;
    }

    #service-opt-01 {
        background: url(../images/20200701_155957_MjA3OD.jpg) center / cover no-repeat;
    }

    #service-opt-02 {
        background: url(../images/image\ 15.jpg) right / cover no-repeat;
    }
    
    #service-opt-03 {
        background-image: url(../images/IMG_1465.jpg);
        background-position: 25% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #service-opt-04 {
        background: url(../images/image\ 17.jpg) center / cover no-repeat;
    }

    #service-opt-05 {
        background: url(../images/image\ 18.jpg) center / cover no-repeat;
    }

    #service-opt-01-info, #service-opt-02-info, #service-opt-03-info, #service-opt-04-info, #service-opt-05-info {
        gap: 32px;
        height: 100%;
        width: 100%;
    }

    #service-opt-01-info h2, #service-opt-01-info p,
    #service-opt-02-info h2, #service-opt-02-info p,
    #service-opt-03-info h2, #service-opt-03-info p,
    #service-opt-04-info h2, #service-opt-04-info p,
    #service-opt-05-info h2, #service-opt-05-info p, #service-opt-05-info b { 
        width: 417px;
        text-align: center;
        margin: 0 auto;
    }

    /* Footer */

    #footer {
        background-color: #02214A;
        padding-top: 80px;
        padding-bottom: 120px;
    }

    #footer-col1, #footer-row ul { width: 302px; }

    #footer-row ul {
        /* display: inline; */
        list-style-type: none;
        color: #FFFDFA;
        font: 16px "Satoshi-Regular", "Open Sans", Helvetica, sans-serif;
    }

    .footer-list-header, .footer-list-header-col1 {
        color: #FF8533;
    }

    .footer-list-header {
        margin-bottom: 2px;
    }

    .footer-list-header-col1 {
        margin-bottom: 18px;
    }

    #btn-alt {
        display: flex;
        width: 232px;
        height: 44px;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FF6700;
        background-color: #FFFDFA;
        border-radius: 16px;
        border-style: none;
        font: 12px "Satoshi-Bold", "Open Sans", Helvetica, sans-serif;
    }
}