/* Imported Custom Font */
/* Satoshi Regular */
@font-face {
    font-family: "Satoshi";
    src: url('fonts/Satoshi-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url('fonts/Satoshi-Italic.otf') format('OpenType');
    font-weight: 600;
    font-style: normal;
}

/* Satoshi Bold */
@font-face {
    font-family: "Satoshi";
    src: url('fonts/Satoshi-Bold.otf') format('OpenType');
    font-weight: bold;
    font-style: normal;
}

/* GLOBAL STYLES */
.margin-default {
    margin: 0 80px;
}

.margin-zero {
    margin: 0;
}

.all-caps {
    text-transform: uppercase;
}

.color-primary { color: #03387C }
.color-primary-alt { color: #02214A }
.color-secondary { color: #FF6700 }
.color-secondary-light { color: #FF8533 }
.color-secondary-accent { color: #8F5833 }
.color-accent-01 { color: #FFFDFA }
.color-accent-02 { color: #292828 }

/* Layout*/
body {
    width: 100%;
    background-color: white;
    font-family: "Satoshi", "Open Sans", Arial, Helvetica, sans-serif;
}

.padding-default {
    padding: 104px 0 144px 0;
}

.padding-80 {
    padding: 80px 0;
}

.padding-80-all {
    padding: 80px;
}

.padding-40 {
    padding: 40px 0;
}

.padding-24 {
    padding: 24px 0px;
}

.padding-24-all {
    padding: 24px;
}

.padding-8 {
    padding: 8px 0;
}

.padding-48-24 {
    padding: 48px 24px;
}

.padding-48-all {
    padding: 48px;
}

.padding-bottom {
    padding-bottom: 144px;
}

.sect-dark {
    background-color: #242424;
}

.background-white {
    background-color: white;
}

/* Smartphone */
@media screen and (max-width: 480px) {
    .hidden-on-mobile {
        display: none;  /* hides content */
    }
}

/* Laptop & Desktop */
@media screen and (min-width: 769px) {
    h1 { font-size: 88px; }
    h2 { font-size: 64px; }
    h2#h2alt { font-size: 44px; }
    h3 { font-size: 32px; }
    li.nav-item { font-size: 16px; }
    body, p { font-size: 18px; }
    body.body-large { font: 24px; }
    body.body-large-bold { font: bold 24px; }

    .hidden-on-desktop {
        display: none;  /* hides content */
    }
}